name: iOS Build Workflow
on:
  workflow_dispatch:
  #schedule:
  #  - cron: 0 19 * * 5
jobs:
  build:
    name: Build MacOS
    runs-on: macos-latest-large
    outputs:
      buildVersion: ${{ steps.buildStep.outputs.buildVersion }}
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
           lfs: 'true'
           ref: develop
           
      - name: LFS pull
        run: git lfs pull
        
      # Cache
      - name: Caching
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-macos-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-macos

      # Build stage
      - name: Unity builder
        uses: game-ci/unity-builder@v4
        id: buildStep
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: iOS
          unityVersion: ${{ secrets.UNITY_VERSION_DEVELOP }}
          versioning: Semantic
          # dirty build needed to include generated Watson credentials
          allowDirtyBuild: true

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: iOS
          path: build
          retention-days: 3
          if-no-files-found: error

# Deploy stage
  prerelease-notification:
    name: Prerelease Slack notification
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/develop' && !github.event.pull_request
    env:
      SLACK_URL: ${{ secrets.SLACK_URL }}
      COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      APP_VERSION: ${{ needs.build.outputs.buildVersion }}
      TARGET_PLATFORM: $RUNNER_OS
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Post notification
        run: |
          echo $APP_VERSION
          sudo apt-get update && sudo apt-get -y install curl
          chmod +x ./ci/notify-preview.sh && ./ci/notify-preview.sh
          
